<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CodeStack.Dev.Sw.AddIn" publicKeyToken="6457c738a36408d1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="0.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>